<<<<<<< HEAD
.topBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top:0;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    box-shadow: 1px 1px 10px 4px rgba(90, 173, 241, 0.3);
    z-index: 3;
}

.logoImagem{
    width: 6.5rem;
    margin: 0 2rem;
}

.funcionalidades{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    gap: 5rem;
    height: 100%;
}

.botoesDirecionamento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
=======
.topBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top:0;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    box-shadow: 1px 1px 10px 4px rgba(90, 173, 241, 0.3);
    z-index: 3;
}

.logoImagem{
    width: 6.5rem;
    margin: 0 2rem;
}

.funcionalidades{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    gap: 5rem;
    height: 100%;
}

.botoesDirecionamento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
>>>>>>> 446259f3b0b8deb5f2d75cc0ec93e0e98929605e
}