.titulo {
    width: 100%;
    color: #007BFF;
    font-family: 'Poppins';
    font-size: 2.3rem;
    text-align: left;
    margin-bottom: 3rem;

}

.container {
    display: flex;
    padding: 0;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    gap: 4rem;
    flex-wrap: wrap;
}



.info_adicional {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 13px;
    padding: 1.5rem;
}

.titulo_adicional {
    font-family: 'Poppins';
    font-size: 1.7rem;
    color: #007BFF;
}

.infos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 1rem;

}

.textos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    gap: 1rem;
}

.texto_adicional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    font-family: 'PoppinsSimples';
}

.texto_add{
    margin:0;
    font-family: 'PoppinsSimples';
}

.texto_add1{
    margin:0;
    font-family: 'Poppins';
}


.imagem_adicional {
    width: 8rem;
    border-radius: 90px;
    border: 1px solid #007BFF;
}

.iconeMenor {
    min-width: 1rem;
    font-size: 1rem;
    color: #007BFF
}

.direita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.ativos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bolinhaVerde{
    width: 10px;
    height: 10px;
    background-color: #0ad82f;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.bolinhaVermelha{
    width: 10px;
    height: 10px;
    background-color: #b20000;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.ativo{
    color: #000000;
    margin:0;
    font-size: 1.7rem;
    font-family: 'PoppinsSemiBold';
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../../Fontes/Poppins/Poppins-SemiBold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}