.corpo {
    width: 100vw;
    height: 99vh;
}

.conteudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 8.5rem);
    overflow-x: hidden;
    overflow-y: auto;
}

.conteudo::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.conteudo::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.bannerImagem {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin: 3rem 0;
}

.botoesConteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: 0 0 3rem 0;
    gap: 3rem;
}

.infos {
    font-family: 'Poppins';
    min-width: 90%;
    max-width: 90%;
}

.tituloInfo {
    color: #007BFF;
    font-size: 1.7rem;
    margin: 0.2rem 0 0.3rem 0;
}

.boxLogin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    background-color: #ffffff;
    padding: 1rem 0;
    border-radius: 10px;
    margin: 5rem;
}

.boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    border: #007BFF solid 2px;
    border-radius: 7px;
}

.textoInfo {
    width: auto;
    margin: 0 1rem;
}

.textoTextoInfo {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: #007BFF;
    margin: 0 0 0.5rem 0;
}

.botoesPainel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.botaoPainel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bolalogin1, .bolalogin2, .bolalogin3, .bolalogin4 {
    all: unset;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 90px;
    border: #007BFF 1px solid;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.bolaClara {
    background-color: #ffffff;
}

.bolaEscura {
    background-color: #c6c6c9;
}

.inputsLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.inputLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.inputL {
    all: unset;
    border: #007BFF solid;
    font-size: 0.9rem;
    border-width: 0 0 2px 0;
    padding: 5px;
    width: 100%;
}

.inputTrocarSenha {
    all: unset;
    border: #007BFF solid;
    text-align: center;
    font-size: 1.2rem;
    border-width: 2px;
    border-radius: 7px;
    padding: 5px;
    color: #007BFF;
}

.iconeLogin {
    color: #007BFF;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    font-style: normal;
    min-width: 1.3rem;
}

.iconeFecharLogin {
    color: #4b4b4b;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    font-style: normal;
    min-width: 1.3rem;
    cursor: pointer;
}

.iconeFecharLogin:hover {
    color: #007BFF;
}

.esqueceuLogin {
    margin: 0.5rem 0 0 0;
    font-family: 'PoppinsSimples';
    font-size: 0.6rem;
    color: #4b4b4b;
    cursor: pointer;
}

.esqueceuLogin:hover {
    color: #007BFF;
}

.cadastrarLogin {
    font-family: 'PoppinsSimples';
    font-size: 0.6rem;
    color: #000000;
    width: 100%;
    text-align: center;
}

.cadastroLogin {
    color: #007BFF;
    margin-left: 5px;
    cursor: pointer;
}

.cadastroLogin:hover {
    color: #4b4b4b;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
