.corpo {
    width: 100vw;
    height: 99vh;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 8.5rem);
    overflow-x: hidden;
    overflow-y: auto;

}

.conteudo::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.conteudo::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.bannerImagem {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin: 3rem 0;
}

.botoesConteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: 0 0 3rem 0;
    gap: 3rem;
}

.infos {
    font-family: 'Poppins';
    min-width: 90%;
    max-width: 90%;
}

.tituloInfo {
    color: #007BFF;
    font-size: 1.7rem;
    margin: 0.2rem 0 0.3rem 0;
}

.boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    border: #007BFF solid 2px;
    border-radius: 7px;
}

.textoInfo {
    width: auto;
    margin: 0 1rem;
}

.textoTextoInfo {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: #007BFF;
    margin: 0 0 0.5rem 0;
}


.imagemBox {
    width: 5rem;
    margin: 0 0 0 1rem;
}

.textoBannerSobreApoio {
    background-image: url('../../assets/bannerSobreApoio.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 24rem;
    z-index: 2;
}

.tituloTextoBannerSobreApoio {
    color: white;
    font-family: 'Poppins';
    font-size: 5.5rem;
    margin: 0;
}

.textoTextoBannerSobreApoio {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
}

.texts {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin: 2rem 0 0 0;
}

.text {
    display: flex;
    text-align: end;
    justify-items: right;
    flex-direction: column;
    width: 22rem;
}

.tituloText1 {
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    font-size: 5.5rem;
    margin: 0 0 -40px 0;
}

.tituloText2 {
    color: rgb(0, 0, 0);
    font-family: 'PoppinsSimples';
    font-size: 3rem;
    margin: -10px 0 0 0;
}

.textoText {
    color: rgb(0, 0, 0);
    font-family: 'PoppinsSimples';
    font-size: 1rem;
    padding-left: 4rem;
    width: auto;
}

.descricaoSobre {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'PoppinsSimples';
    margin-top: 3rem;
    width: 80%;
    height: 10rem;
}

.carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 0 0;
}

.imagens {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
}

.imagensCarrosel {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.bolas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    gap: 0.5rem
}

.bola {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
}

.bola1 {
    all: unset;
    display: inline-block;
    cursor: pointer;
    background-color: #c6c6c9;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100px;
    border: none;
}

.bola2 {
    all: unset;
    display: inline-block;
    cursor: pointer;
    background-color: #c6c6c9;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
}

.bola3 {
    all: unset;
    display: inline-block;
    cursor: pointer;
    background-color: #c6c6c9;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
}

.bola1:hover {
    transform: scale(1.3);
    background-color: #616161;
}

.bola2:hover {
    transform: scale(1.3);
    background-color: #616161;
}

.bola3:hover {
    transform: scale(1.3);
    background-color: #616161;
}

.escuro {
    transform: scale(1.3);
    background-color: #616161;
}

.claro {
    background-color: #c6c6c9;
}

.linkAjuda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 3rem 0 1rem 0;

}

.tituloAjuda {
    width: 100%;
    text-align: left;
    font-family: 'Poppins';
    font-size: 2.5rem;
    color: #007BFF;
}

.boxsAjuda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    min-width: 100%;
    max-width: 100%;
    margin: 2rem 0 0 0;
}

.imagemAjuda {
    width: 8.5rem;
}

.textoAjuda {
    font-family: 'Poppins';
    font-size: 1.4rem;
    margin: 0;
}

.ajudado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3rem;
    padding: 3rem 0;
}

.fotoAjudado {
    width: 26%;
}

.blocoAjudado {
    width: 50%
}

.tituloAjudado {
    font-family: 'Poppins';
    font-size: 4rem;
    margin: 0;
    color: #007BFF;
}

.subtituloAjudado {
    font-family: 'PoppinsSimples';
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    color: #000000;
}

.textoAjudado {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
    font-family: 'PoppinsSimples';
    font-size: 1rem;
    margin: 1rem 0;
    color: #000000;
    gap: 0.4rem;
}

.iconeTextoAjudado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricaoAjudado {
    font-family: 'PoppinsSimples';
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    color: #007BFF;
}

.botaoAjudado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.conteudoCadastro {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tituloCadastro {
    font-family: 'Poppins';
    font-size: 3.8rem;
    color: #007BFF;
    padding: 1rem 0 2rem 0;
}

.boxsCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    width: 80%;
}

.imagemCadastro {
    width: 100%;
    height: auto;
}

.conteudoCadastroUsuario {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2% 0;
}

.cadastroUsuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    height: 33rem;
    border: #007BFF 2px solid;
    border-radius: 15px;
    overflow: hidden;
}

.formsCadastro {
    width: 100%;
    height: 100%;
}

.formularioCadastro {
    margin: 0 0 0 4rem;
}

.cadastroForms {
    font-family: 'Poppins';
    font-size: 4rem;
    color: #007BFF;
    width: auto;
    padding: auto 0;
}

.fotoCadastro {
    height: 105%;
}

.cadaInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0 0.6rem 0;
    width: 60%;

}

.labelCadastro {
    color: #007BFF;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCadastro {
    all: unset;
    border: #007BFF solid;
    font-size: 0.9rem;
    border-width: 0 0 2px 0;
    padding: 5px;
    width: 100%;
}

.iconeCadastro {
    color: #007BFF;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-style: normal;
}

.inputEndereco {
    position: relative;
}

.boxEndereco {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 76%;
    left: 5.85%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    width: 48%;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    margin: 0;
    border-radius: 0px 0px 30px 30px;
    border: #007BFF 1px solid;
}

.maiorBoxEndereco{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 0.5rem;
}

.iconeBoxEndereco{
    min-width: 1rem;
    max-width: 1rem;
    font-size: 1rem;
    color:#007BFF
}

.inputMaiorBoxEndereco{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-color: #007BFF;
    border-width: 0 0 2px 0;
    border-style: solid;
}

.inputBoxEndereco{
    all: unset;
    font-size: 0.8rem;
    padding: 0.3rem 0.4rem;
    width: 100%;
}

.iconeMenorBoxEndereco{
    min-width: 1rem;
    font-size: 1rem;
    color:#007BFF
}

.escuro{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

}

.escuro::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.escuro::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.boxLogin{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    background-color: #ffffff;
    padding: 1rem 0;
    border-radius: 10px;
    margin: 5rem;
}

.x{
    position: absolute;
    top: 1.5%;
    right: 2%;
    font-size: 1.5rem;
    color: #007BFF;
}

.boxMenorLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 1rem;
}

.painel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoPainel{
    width: 5.6rem;
}

.tituloPainel{
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: #007BFF;
}

.textoPainel{
    text-align: center;
    font-family: 'PoppinsSimples';
    font-size: 0.8rem;
    color: #000000;
}

.botoesPainel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.botaoPainel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bolalogin1, .bolalogin2, .bolalogin3, .bolalogin4{
all: unset;
width: 0.5rem;
height: 0.5rem;
border-radius: 90px;
border: #007BFF 1px solid;
margin: 0;
padding: 0;
}

.descricaoLogin{
    font-family: 'PoppinsSimples';
    font-size: 0.8rem;
    color: #000000;
    margin: 0.5rem 0;
    text-align: center;
}

.inputsLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.inputLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.inputL{
    all: unset;
    border: #007BFF solid;
    font-size: 0.9rem;
    border-width: 0 0 2px 0;
    padding: 5px;
    width: 100%;
}

.iconeLogin{
    color: #007BFF;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    font-style: normal;
    min-width: 1.3rem;
}

.esqueceuLogin{
    margin: 0.5rem 0 0 0;
    font-family: 'PoppinsSimples';
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 0.6rem;
    color: #4b4b4b;
    width: 100%;
}

.cadastrarLogin{
    font-family: 'PoppinsSimples';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color: #000000;
    width: 100%;
    height: auto;
    padding: 0;

}

.cadastroLogin{
    color: #007BFF;
    margin-left: 5px;

}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}