.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    z-index: 1;
    gap: 2rem;
    padding: 3rem;
}

.conteudo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.foto {
    position: relative;
    border-radius: 50%;
    border: #007BFF 2px solid;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    overflow: hidden;
}

.perfil {
    position: relative;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    border-radius: 90%;
}

.botaoImagem {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    transition: 0.3s;
    color: rgba(255, 255, 255,0) ;
    gap: 1rem;
    font-family: 'Poppins';
    font-size: 1.1rem;
    border-radius: 50%;

    .camera {
        font-size: 3rem;
    }
}

.botaoImagem:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255,1) ;
    transition: 0.3s;
}

.botaoImagemPermanente {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    transition: 0.3s;
    color: rgba(255, 255, 255,1) ;
    gap: 1rem;
    font-family: 'Poppins';
    font-size: 1.1rem;
    border-radius: 50%;

    .cameraPermanente {
        font-size: 3rem;
    }
}

.botaoImagemPermanente:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #007BFF ;
    transition: 0.3s;
}

.nome {
    font-family: 'PoppinsSemiBold';
    font-size: 1.7rem;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 1rem;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    gap: 0.5rem;
}

.textoInfo{
    all:unset;
    font-family: 'PoppinsSemiBold';
    font-size: 1.1rem;
}

.icone {
    color: #007BFF;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-style: normal;
}


.info_adicional {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 13px;
    padding: 1.5rem;
}

.titulo_adicional {
    font-family: 'Poppins';
    font-size: 1.7rem;
    color: #007BFF;
}

.infos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 1rem;

}

.textos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    gap: 1rem;
}

.textos_adicionaisSem {
    width: auto;
    font-size: 1.4rem;
    font-family: 'PoppinsSemiBold';
}

.texto_adicional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    font-family: 'PoppinsSimples';
}


.imagem_adicional {
    width: 8rem;
    border-radius: 90px;
    border: 1px solid #007BFF;
}

.iconeMenor {
    min-width: 1rem;
    font-size: 1rem;
    color: #007BFF
}

.texto_add{
    font-family: 'PoppinsSemiBold';
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../../Fontes/Poppins/Poppins-SemiBold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}