.funcionalidadeHome {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #007BFF;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.funcionalidadeHome:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #9fa2a8;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.entrarHome {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #007BFF;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 12rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    cursor: pointer;
}

.entrarHome:hover {
    color: #ffffff;
    border: #007BFF 1px solid;
    background-color: #007BFF;
    transition: 0.3s;
}

.botaoBrancoHome {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #007BFF;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    cursor: pointer;
}

.botaoBrancoHome:hover {
    color: #ffffff;
    border: #007BFF 1px solid;
    background-color: #007BFF;
    transition: 0.3s;
}

.sideBar{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #007BFF;
    border: #007BFF 1px solid;
    border-radius: 13px;
    width: 90%;
    height: auto;
    min-height: 4rem;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    cursor: pointer;
    margin: 5% ;
}

.sideBar:hover {
    color: #ffffff;
    border: #007BFF 1px solid;
    background-color: #007BFF;
    transition: 0.3s;
}

.pesquisar{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 2px solid;
    border-radius: 7px;
    width: 100%;
    height: auto;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
    padding: 0.4rem;
}

.pesquisar:hover{
    color: #007BFF;
    border: #007BFF 2px solid;
    background-color: #ffffff;
    transition: 0.3s;
}

.cadastrarHome {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 12rem;
    height: 4rem;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
}

.cadastrarHome:hover {
    color: #007BFF;
    border: #007BFF 1px solid;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.botaoAzulHome {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 100%;
    height: 4rem;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
}

.botaoAzulHome:hover {
    color: #007BFF;
    border: #007BFF 1px solid;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.logoHome {
    background-color: #ffffff00;
    border: none;
    margin: 0;
    cursor: pointer;
}

.setaEsquerda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    left: 20px;
    user-select: none;
}

.setaDireita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    right: 20px;
    user-select: none;
}

.cadastrarAjudado {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 70%;
    height: 4rem;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
}

.cadastrarAjudado:hover {
    color: #007BFF;
    border: #007BFF 1px solid;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.imagemCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #ffffff00;
    width: 100%;
    border: solid 2px #007BFF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.imagemCadastro:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

.cadastrarConfirma {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 1px solid;
    border-radius: 7px;
    width: 60%;
    height: 4rem;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 1rem;
}

.cadastrarConfirma:hover {
    color: #007BFF;
    border: #007BFF 1px solid;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.inputCadastro {
    all: unset;
    border: #007BFF solid;
    font-size: 0.9rem;
    border-width: 0 0 2px 0;
    padding: 5px;
    width: 100%;
    height: 1rem;
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.inputCadastro::-webkit-scrollbar {
    height: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.inputCadastro::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9fa2a8;
}

.boxAjuda {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: #007BFF solid 2px;
    width: 100%;
    border-radius: 7px;
    height: 13rem;
    cursor: pointer;
}

.bolinhaLogin {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.confirmarLogin {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: #007BFF 1px solid;
    border-radius: 70px;
    width: 100%;
    height: 3.2rem;
    background-color: #007BFF;
    transition: 0.3s;
    cursor: pointer;
}

.confirmarLogin:hover {
    color: #007BFF;
    border: #007BFF 1px solid;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.editar_perfil{
    all: unset;
    background-color: #007BFF;
    text-align: center;
    width: auto;
    height: auto;
    font-family: 'PoppinsSimples';
    margin: 0;
    padding: 0.5rem 1rem;
    color: #ffffff;
    border-radius: 18px;
    font-size: 1.3rem;
    transition: 0.3s;
    border: #007BFF 2px solid;
    cursor: pointer;
}

.editar_perfil:hover{
    background-color: #ffffff;
    color: #007BFF;
    border: #007BFF 2px solid;
    transition: 0.3s;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}