.conteudo{
    width: 100%;
    height: auto;
}

.inputPesquisa {
    all: unset;
    border: #007BFF solid;
    font-size: 0.9rem;
    border-width: 0 0 2px 0;
    padding: 5px;
    width: 100%;
    color: #757575;
}

.titulo_maior{
    font-family: 'Poppins';
    font-size: 1.8rem;
    color: #007BFF;
    width: 100%;
    align-items: first baseline;
    margin-bottom: 2rem;
}


.cabeca{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    font-weight: bold;
}

.linha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.corpo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;
    margin: 4rem 0 0 0;
    font-family: 'PoppinsSimples';
}

.itens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    border: #007BFF 2px solid;
    border-radius: 10px;
    padding: 1rem 0;
    overflow-x: auto;
}

.itens::-webkit-scrollbar {
    height: 2px;
    background-color: rgba(255, 255, 255, 0);
}

.itens::-webkit-scrollbar-thumb {
    background-color: #007BFF;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    width: 100%; 
    
}



.titulo{
    color: #007BFF;
    font-size: 1.05rem;
    font-family: 'Poppins';
}



.info_adicional {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 13px;
    padding: 1.5rem;
}

.titulo_adicional {
    font-family: 'Poppins';
    font-size: 1.7rem;
    color: #007BFF;
}

.infos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 1rem;

}

.textos_adicionais {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    gap: 1rem;
}

.textos_adicionaisSem {
    width: auto;
    font-size: 1.4rem;
    font-family: 'PoppinsSemiBold';
}

.texto_adicional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    font-family: 'PoppinsSimples';
}


.imagem_adicional {
    width: 8rem;
    border-radius: 90px;
    border: 1px solid #007BFF;
}

.iconeMenor {
    min-width: 1rem;
    font-size: 1rem;
    color: #007BFF
}

.texto_add{
    font-family: 'PoppinsSemiBold';
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}