.topBar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    top:0;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    box-shadow: 1px 1px 10px 4px rgba(90, 173, 241, 0.3);
    z-index: 3;
}

.logoImagem{
    width: 6.5rem;
}

.linkLogo{
    text-decoration: none;
    margin-left: 3%;
}

.link{
    all: unset;
    text-decoration: none;
}

.funcionalidades{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 3%;
}

.nomePerfil{
    font-family: 'Poppins';
    font-size: 1.1rem;
    
    cursor: pointer;
}

.nomePerfil:hover{
    color: #007BFF;
}

.fotoPerfil{
    width: 5rem;
    height: 5rem;
    border-radius: 90px;
    cursor: pointer;
}

.semFoto{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    border-radius: 90px;
    border: #007BFF solid 2px;
    cursor: pointer;
    background-color: #fff;
    font-size: 0.7rem;
    font-family: 'Poppins';
}

.camera{
    width: 100%;
    color: #007BFF;
    font-size: 1.3rem;
    cursor: pointer;
}

.blocoFoto{
    position: absolute;
    display: flex;
    top: 1%;
    left: 1%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    z-index: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}