# Node.js
/node_modules
/.pnp
.pnp.js

# React build
/build

# React cache e outros arquivos desnecessários
.cache/
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp

# .env files
.env
.env.*.local

# Coverage e relatórios de testes
/coverage
/lcov-report

# Editor e sistema operacional
.DS_Store
Thumbs.db

# npm / Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de lock temporários
package-lock.json
yarn.lock

# Windows
*.lnk
*.suo
*.ntvs*
*.njsproj
*.sln
*.user
*.vs/

# C# / .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.nuget
*.dbmdl
*.log
*.zip

# Configurações de IDE e arquivos temporários
.vscode/
.idea/
*.csproj.user
*.userprefs
*.resharper
*.gitattributes

# Logs do sistema
*.stackdump
*.pid

# Publicação / Deploy
.publish/
out/
