.ajudado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3rem;
    padding: 3rem 0;
}

.fotoAjudado {
    width: 26%;
}

.blocoAjudado {
    width: 50%
}

.tituloAjudado {
    font-family: 'Poppins';
    font-size: 4rem;
    margin: 0;
    color: #007BFF;
}

.subtituloAjudado {
    font-family: 'PoppinsSimples';
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    color: #000000;
}

.textoAjudado {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
    font-family: 'PoppinsSimples';
    font-size: 0.9rem;
    margin: 1rem 0;
    color: #000000;
    gap: 0.4rem;
}

.iconeTextoAjudado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricaoAjudado {
    font-family: 'PoppinsSimples';
    font-size: 1.1rem;
    margin: 1.5rem 0 1.5rem 0;
    color: #007BFF;
}

.botaoAjudado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link{
    all: unset;
    border-radius: 7px;
    width: 70%;
    height: 4rem;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fontes/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsSimples';
    src: url('../../Fontes/Poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}